body{
    background-color:#f4f4f4;
    overflow: hidden;
}
.road{
    width: 700px;
    height: 100vh;
    margin: 0 auto;
    background-image: url('../images/road.png');
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.start-game-btn{
    position: absolute;
    top:15%;
    padding:15px 35px;
    background-color: #26ae60;
    font-size: 30px;
    border: none;
    left:40%;
    color:white;
    border-radius: 5px;
    -webkit-box-shadow: 8px 10px 5px 0px rgba(117, 86, 86, 0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(117, 86, 86, 0.75);
    box-shadow: 8px 10px 5px 0px rgba(117, 86, 86, 0.75);
    transition: ease-out 2s;
}
.instructions{
    position: absolute;
    top:30%;
    left:35%;
    height: 275px;
    width:300px;
    border: 1px solid black;
    box-sizing: border-box;
    margin:5px;
    background-color: #DAE0E2;
    border-radius: 20px;
    -webkit-box-shadow: 8px 10px 5px 0px rgba(87, 85, 85, 0.75);
    -moz-box-shadow: 8px 10px 5px 0px rgba(87, 85, 85, 0.75);
    box-shadow: 8px 10px 5px 0px rgba(87, 85, 85, 0.75);
    padding:5px;
    font-size:18px;
    transition: ease-out 2s;
    text-align: center;
    z-index: 2;
}
.instructions h3{
    text-decoration: underline;
}
.instructions ul{
    list-style: none;
    font-size: 12px;
    font-weight: bold;
}
.kbd {
	margin: 7px 0.4em;
	padding: 0.2em 0.8em;
	border-radius: 3px;
	border: 1px solid rgb(204, 204, 204);
	color: rgb(51, 51, 51);
	line-height: 1.6;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 16px;
	display: inline-block;
	box-shadow: 0px 1px 0px rgba(0,0,0,0.2);
	background-color: rgb(247, 247, 247);
	-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
    text-shadow: 0 1px 0 #fff;
    color:#E84342;
}
.pipe{
    height:200px;
    width: 25px;
    background-color:#4C4B4B;
    position: absolute;
    bottom:-200px;
    left:140px;
    transition: ease 2s;
    border:1px solid #000000;
}
.scoreboard{
    line-height: 35px;
    width: 50px;
    position: absolute;
    right:-75px;
    top: 5px;
    background-color: #4C4B4B;
    color: #ffffff;
    padding:5px 25px;
    border-radius: 5px;
    font-size: 22px;
    text-align: center;
    transition: ease-in-out 5s;
}
